*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(2, 12, 57);
    display: flex;
    justify-content: center;
    align-items: center;
}
.obj1{
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to left bottom, #7fa7e3, #5885d7, #3961c8, #263cb5, #23079c);
    border-radius: 50%;
    margin-right: 70px;
    margin-top: 40px;
    animation-name: top-down1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes top-down1{
    0% {
        transform: translateY(80px);
    }

    100%{
        transform: translateY(120px);
    }
}

.obj2{
    width: 230px;
    height: 230px;
    background-image: linear-gradient(to bottom, #97d6aa, #79c88e, #5cba70, #3bab52, #079c30);
    border-radius: 50%;
    margin-left: 70px;
    margin-bottom: 300px;
    animation-name: top-down2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* position: absolute; */
    /* z-index: -1; */
}

@keyframes top-down2{
    0% {
        transform: translateY(0px);
    }

    100%{
        transform: translateY(70px);
    }
}

.mainCont{
    color: white;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    border: 0.5px solid rgb(199, 198, 198);
    padding: 40px 50px;
    border-radius: 20px;
    
    width: 300px;

    backdrop-filter: blur(20px);
}

.mainCont h3{
    font-size: 2rem;
    text-align: center;
    line-height: 1.2;
    font-weight: 600;
    /* background: linear-gradient(to right, #a45fdb, #9360dc, #8161dd, #6c62de, #5463dd, #4072e6, #2880ed, #008df2, #00a8f8, #00bee8, #00d0c9, #3ddda5);
    -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}

form{
    margin: 25px 0 20px ;
}

.input-box{
    display: block;
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}

.input-box::placeholder{
    color: inherit;
    opacity: 1;
}

.input-box:focus{
    outline: none;
}

.fpass{
    text-align: right;
    margin: 10px;
}

a{
    text-decoration: none;
    color: white;
}

/* .gradientText{
    background: linear-gradient(to right, #6e0ac1, #6e2fc6, #8161dd, #6c62de, #5463dd, #4072e6, #2880ed, #008df2, #00a8f8, #00bee8, #00d0c9, #3ddda5);
    -webkit-background-clip: text;
    background-clip: text;
} */

.btn{
    height: 45px;
    width: 100%;
    border-radius: 25px;
    user-select: none;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    background-image: linear-gradient(to right, #a45fdb, #9360dc, #8161dd, #6c62de, #5463dd, #4072e6, #2880ed, #008df2, #00a8f8, #00bee8, #00d0c9, #3ddda5);
    color: white;
    cursor: pointer;
}
